extends layout

block content
  a(href='/') Main Page
  h2 Employer Detail
  p #{employer.name}

  h3 Employer Information

  h3 Bought Services:

  if employer.orders.length
    ol
      each order in employer.orders
        li '#{order.job.title}' from #{order.job.freelancer.name}
  else
    p This person hasn't get any services yet.
