extends layout
block content
  a(href='/') Main Page
  h2 Employers
  p There are #{employers.length} employers in this platform.

  ol
    each employer in employers
      li
        a(href=`/employers/${employer._id}`) #{employer.name}
