extends layout
block content
  p With this app, you can find a freelancer all over the world!

  a(href='/freelancers') Freelancers
  |
  |
  a(href='/employers') Employers
  |
  |
  a(href='/jobs') Jobs
  |
  |
  a(href='/orders') Orders