extends layout
block content
  a(href='/') Main Page
  h2 Search Results
  p #{jobs.length} job(s) has been found related to your search.

  ol
    each job in jobs
      li
        a(href=`/jobs/${job._id}`) #{job.title}
