extends layout
block content
  h2 User Detail
  p #{user.name}
  <em>Active Role:</em> #{user.activeRole} 
  h3 User Messages

  if user.messages.length
    ol
      each message in user.messages
        li '#{message.content}'
  else
    p This person hasn't received or sent any messages yet.